body {
  margin: 0;
  padding: 0;
  background-color: #fff3e6; /* 배경색 (앱 밖 영역) */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Pretendard', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
